<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body class="animsition">
<div class="blog-detail-03" id="page">

    <% include partials/header.ejs %>
    <section class="boxed-sm">
        <div class="container">
            <div class="row main">
                <% if(data){ %>
                <% data.forEach(function (blog) { %>
                <article class="blog-detail">
                    <h3 class="title-blog-detail"><%= blog.title %></h3>
                    <p class="meta">
                        <span class="time"><%= moment(blog.createdOn).format("Do MMM YYYY");%></span>
                        <span class="comment"><%= coms.length %></span>
                        <span class="author">By: <a href="#"><%= blog.authorID %></a>
                </span>

                    </p>
                    <div class="content">
                        <img class="feature-image" src="/images/slike/blog/<%= blog.image %>" alt="feature-image">
                        <div style="padding: 20px"><%- blog.content_text %></div>

                    </div>
                </article>

                <% if(coms) { %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="comment-area">
                            <h4 class="title-comment"><%= coms.length %> Comments</h4>
                            <ol class="comment-list">
                                <li>
                                    <% coms.forEach(function (com) { %>
                                    <div class="the-comment">
                                        <div class="avatar">
                                            <img class="avatar" alt="avatar" src="/images/comment/01.png">
                                        </div>
                                        <div class="comment-box">
                                            <div class="comment-author meta">
                                                <p class="author"><%= com.username %></p>
                                                <p class="time"><%= moment(com.createdOn).format("Do MMM YYYY");%></p>
                                            </div>
                                            <div class="comment-text">
                                                <p style="margin-bottom: 40px"><%= com.comText %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
                <% } %>

                <div class="row">
                    <div class="col-md-12">
                        <div class="comment-area-form">
                            <h4 class="title-comment">Leave a Comment</h4>
                            <p>Your email address will not be published.</p>
                            <form class="cart" action="/comment/post" method="post" name="form1">
                                <div class="row">
                                    <div class="col-md-6 hidden">
                                        <div class="form-group Orchid-form xs-radius">
                                            <input class="form-control " type="text" id="bid" name="bid" placeholder="Blog id" value="<%= blog._id %>">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group Orchid-form xs-radius">
                                            <input class="form-control" type="text" id="name" name="name" placeholder="Your Name">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group Orchid-form xs-radius">
                                            <input class="form-control" type="email" id="email" name="email" placeholder="Your Email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group Orchid-form xs-radius">
                                            <textarea class="form-control" type="text" id='comText' name="comText" rows="6" placeholder="Your Comment"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button class="btn btn-brand pill" type="submit">SUBMIT</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <% })}%>
            </div>
        </div>
    </section>
</div>
<% include partials/footer.ejs %>

<script src="/js/library/jquery.min.js"></script>
<script src="/js/library/bootstrap.min.js"></script>
<script src="/js/function-check-viewport.js"></script>
<script src="/js/library/slick.min.js"></script>
<script src="/js/library/select2.full.min.js"></script>
<script src="/js/library/imagesloaded.pkgd.min.js"></script>
<script src="/js/library/jquery.mmenu.all.min.js"></script>
<script src="/js/library/rellax.min.js"></script>
<script src="/js/library/isotope.pkgd.min.js"></script>
<script src="/js/library/bootstrap-notify.min.js"></script>
<script src="/js/library/bootstrap-slider.js"></script>
<script src="/js/library/in-view.min.js"></script>
<script src="/js/library/countUp.js"></script>
<script src="/js/library/animsition.min.js"></script>
<script src="/js/global.js"></script>
<script src="/js/config-mm-menu.js"></script>
<script src="/js/config-carousel.js">


</script>
<script src="/js/config-carousel-thumbnail.js">


</script>
<script src="/js/config-carousel-product-quickview.js"></script>
<!-- Demo Only-->
<script src="/js/demo-add-to-cart.js">


</script>
</body>
</html>
