<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body class="animsition">
<div class="blog-detail-03" id="page">

    <% include partials/header.ejs %>
    <% include partials/subheader.ejs %>

    <section class="boxed-sm">
        <div class="container">
            <div class="row main">
                <% if(data){ %>
                <% data.forEach(function (blog) { %>
                <article class="blog-detail">
                    <h3 class="title-blog-detail"><%= blog.title %></h3>
                    <p class="meta">
                        <span class="time"><%= moment(blog.createdOn).format("Do MMM YYYY");%></span>
                        <span class="comment"><%= coms.length %></span>
                        <span class="author">Autor: <a href="#"><%= blog.authorID %></a>
                </span>

                    </p>
                    <div class="content">
                        <img class="feature-image" src="/images/blog/<%= blog.image %>" alt="feature-image">
                        <div style="padding: 20px"><%- blog.content_text %></div>

                    </div>
                </article>


                <div class="row">
                    <div class="col-md-12">
                        <div class="comment-area">
                            <h4 class="title-comment"><%= coms.length %> Komentar</h4>

                            <ol class="comment-list" style="background-color: #f5cda8;">
                                <% if(coms.length > 0) { %>
                                <li>
                                    <% coms.forEach(function (com) { %>
                                    <div class="the-comment">
                                        <div class="avatar">
                                            <img class="avatar" alt="avatar" src="/images/comment/<%= com.username.slice(0,1) %>.png">
                                        </div>
                                        <div class="comment-box">
                                            <div class="comment-author meta">
                                                <p class="author"><%= com.username %></p>
                                                <p class="time"><%= moment(com.createdOn).format("Do MMM YYYY");%></p>
                                            </div>
                                            <div class="comment-text">
                                                <p style="margin-bottom: 40px"><%= com.comText %></p>
                                            </div>
                                        </div>
                                    </div>
                                    <% }) %>
                                </li>

                                <% } else{ %>
                                <p>Trenutno nema komentara</p>
                                <% } %>
                            </ol>

                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-12">
                        <div class="comment-area-form">
                            <h4 class="title-comment">Ostavite Komentar</h4>
                            <p>Vaša email adresa neće biti objavljena.</p>
                            <form class="cart" action="/comment/post" method="post" name="form1">
                                <div class="row">
                                    <div class="col-md-6 hidden">
                                        <div class="form-group Orchid-form xs-radius">
                                            <input class="form-control " type="text" id="bid" name="bid" placeholder="Blog id" value="<%= blog._id %>">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group Orchid-form xs-radius">
                                            <input class="form-control" type="text" id="name" name="name" placeholder="Vaše Ime">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group Orchid-form xs-radius">
                                            <input class="form-control" type="email" id="email" name="email" placeholder="Vaš email">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group Orchid-form xs-radius">
                                            <textarea class="form-control" type="text" id='comText' name="comText" rows="6" placeholder="Vaš komentar"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <button class="btn btn-brand pill" type="submit">Pošalji</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <% })}%>
            </div>
        </div>
    </section>
</div>
<% include partials/footer.ejs %>
<% include partials/footerscripts.ejs %>
</body>
</html>
