<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body class="animsition">
<div class="shop-cart" id="page">

    <% include partials/header.ejs %>
    <% include partials/subheader.ejs %>

    <section class="boxed-sm">
        <div class="container">
            <div class="woocommerce">
                <form class="woocommerce-cart-form" action="/updatecart" method="post" name="form1">
                    <table class="woocommerce-cart-table">
                        <% if(data) {%>
                        <thead>
                        <tr>
                            <th class="product-thumbnail">Slika </th>
                            <th class="product-name">Ime </th>
                            <th class="product-weight">Jedinica mere</th>
                            <th class="product-quantity">Količina</th>
                            <th class="product-price">Cena</th>
                            <th class="product-subtotal">Ukupno</th>
                            <th class="product-remove"></th>
                        </tr>
                        </thead>

                        <tbody>
                        <% if(data){ %>
                        <% data.forEach(function (o) { %>
                        <tr>
                            <td class="product-thumbnail">
                                <img class="img-responsive" src="/images/items/<%= o.img %>" alt="product thumbnail">
                            </td>
                            <td class="product-name" data-title="Product">
                                <a class="product-name" href="/items/<%= o.id %>"><%= o.name %></a>
                            </td>
                            <td class="product-weight" data-title="Weight"><%= o.amount %></td>
                            <td class="product-quantity" data-title="Quantity">
                                <input name="itemid" value="<%= o.id %>" type="text" class="hidden">
                                <input name="itemname" value="<%= o.name %>" type="text" class="hidden">
                                <input name="br" value="<%= br %>" type="text" class="hidden">
                                <input style="width: 50%" step="1" min="0" max="" name="qty" value="<%= o.qty %>" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" type="number">

                            </td>
                            <td class="product-price" data-title="Price"><%= o.price %> RSD</td>
                            <td class="product-subtotal" data-title="Total"><%= o.price * o.qty %> RSD</td>
                            <td class="product-remove">

                                <a class="remove" href="/del/<%= br++ %>" aria-label="Remove this item" onClick="return confirm('Are you sure you want to delete?')">×</a>
                            </td>
                        </tr>

                        </tbody>

                        <% })} } %>

                        <tfoot>
                        <tr>
                            <td colspan="7">
                                <div class="form-coupon organic-form">
                                    <div class="form-group">
                                        <input class="form-control pill" placeholder="Kod za popust">
                                    </div>
                                    <div class="form-group">
                                        <a class="btn btn-brand pill" href="#">UNESI KUPON</a>
                                    </div>
                                    <div class="form-group update-cart">
                                        <button class="btn btn-brand no-radius" type="submit" name="Submit">IZMENI KUPOVINU</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </form>
                <div class="cart_totals">
                    <h3 class="title">Ukupna cena</h3>
                    <div class="row">
                        <div class="col-md-8">
                            <table class="woocommerce-cart-subtotal">
                                <tbody>
                                <tr>
                                    <th>Subtotal</th>
                                    <td data-title="Sve"> </td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td data-title="Baš sve"><%= total %> RSD</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="proceed-to-checkout">
                                <a href="/checkout" class="btn btn-brand no-radius">PORVRDI KUPOVINU</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<% include partials/footer.ejs %>
<% include partials/footerscripts.ejs %>
</body>
</html>
