<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body class="animsition">
<div class="checkout" id="page">

    <% include partials/header.ejs %>
    <% include partials/subheader.ejs %>

    <section class="boxed-sm">
        <div class="container">
            <div class="woocommerce">
                <form class="checkout" action="/conform" method="post">

                <div class="row">

                        <div class="woocommerce-checkout-review-order">
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                    <h4>Detalji za isporuku</h4>
                                <% if (userdata){ %>
                                    <div class="row">
                                        <div class="col-md-6 form-group">
                                            <div class="form-group Orchid-form no-radius">
                                                <label>Ime *</label>
                                                <input class="form-control" type="text" name="firstname" value="<%= userdata[0].firstname%>">
                                            </div>
                                        </div>
                                        <div class="col-md-6 form-group">
                                            <div class="form-group Orchid-form no-radius">
                                                <label>Prezime *</label>
                                                <input class="form-control" type="text" name="lastname" value="<%= userdata[0].lastname%>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group Orchid-form no-radius">
                                                <label>E-mail adresa *</label>
                                                <input class="form-control" type="email" name="email" value="<%= userdata[0].email%>">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group Orchid-form no-radius">
                                                <label>Broj telefona *</label>
                                                <input class="form-control" type="text" name="phone" value="<%= userdata[0].phone%>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <div class="form-group Orchid-form no-radius">
                                                <label>Adresa *</label>
                                                <input class="form-control" type="text" name="address" value="<%= userdata[0].address%>">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group Orchid-form no-radius">
                                                <label>Grad/Mesto *</label>
                                                <input class="form-control" type="text"  name="city" value="<%= userdata[0].city%>">
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div>
                            <div class="col-lg-6 col-md-6 col-xs-12">
                                <table class="woocommerce-checkout-review-order-table">
                                    <thead>
                                    <tr>
                                        <th class="product-name">Proizvod</th>
                                        <th class="product-total">Ukupno</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <% if(data) { %>
                                    <% data.forEach(function (itm) { %>
                                    <tr class="cart_item">
                                        <td class="product-name"><%= itm.name %>
                                            <span class="product-quantity">× <%= itm.qty %></span>
                                        </td>
                                        <td class="product-total">
                                            <span class="woocommerce-Price-amount amount"><%= itm.price * itm.qty %> RSD</span>
                                        </td>
                                    </tr>
                                    <% })} %>
                                    </tbody>
                                    <tfoot>

                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td>
                                            <strong>
                                                <span class="woocommerce-Price-amount amount"><%= total %> RSD</span>
                                            </strong>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>



                        </div>

                </div>
                    <input class="place_order btn btn-brand pill" name="" value="PORUČI" data-value="Place order" type="submit">
                    <a href="/login" class="btn btn-link">Login</a>

                </form>

        </div>
        </div>
    </section>
</div>
<% include partials/footer.ejs %>
<% include partials/footerscripts.ejs %>
</body>
</html>
