
<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <meta charset="utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="css/main.css" />
</head>
<body class="animsition">
<div class="home-2" id="page">
  <% include partials/header.ejs %>
  <div class="banner-slider-2 rev_slider" id="slider-2">
    <ul>
      <li data-transition="fade">
        <img src="images/slike/velika.jpg" alt="" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="10">
        <div class="tp-caption" data-x="center" data-y="center" data-voffset="['-100','-100','-140','-140']" data-transform_in="y:-80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:-80px;opacity:0;s:300;" data-start="1000">
          <h2 style="color: #725843;">Domaće voće i povrće</h2>
        </div>
        <div class="tp-caption" data-x="center" data-y="center" data-voffset="['20','20','40','40']" data-width="['650','550','480','320']" data-whitespace="normal" data-transform_in="y:80px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:80px;opacity:0;s:300;"
             data-start="1400" style="color:#5a3825; font-size: 19px" >
          <p>Zbog čega je uvek bolje pre odabrati sveže i domaće, neprskano voće i povrće nego bilo koji proizvod iz nekog od trgovinskih lanaca iz tokova masovne monoagrikulturne proizvodnje?</p>
        </div>
        <div class="tp-caption" data-x="center" data-y="center" data-voffset="['120','120','200','200']" data-transform_in="y:100px;opacity:0;s:800;e:easeInOutCubic;" data-transform_out="y:200px;opacity:0;s:300;" data-start="1600">
          <a class="btn btn-brand pill" href="/about">ZAŠTO?</a>
        </div>
      </li>
    </ul>
  </div>
  <section class="boxed-sm">
    <div class="container">
      <div class="heading-wrapper text-center">
        <h3 class="heading">Proizvodi</h3>
      </div>
      <div class="team-wrapper">
        <div class="row">
          <div class="about-carousel">
            <div class="item">
              <a href="/items/category/voce">
                <figure class="product-category-item">
                  <div class="thumbnail">
                    <img src="images/slike/vocepozadina.png" alt="" />
                  </div>
                  <figcaption>
                    <h3 style="color: #725843; font-weight: bold">Voće</h3>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="item">
              <a href="/items/category/povrce">
                <figure class="product-category-item">
                  <div class="thumbnail">
                    <img src="images/slike/povrcepozadina.png" alt="" />
                  </div>
                  <figcaption>
                    <h3 style="color: #725843; font-weight: bold">Povrće</h3>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="item">
              <a href="/items/category/domaciproizvodi">
                <figure class="product-category-item">
                  <div class="thumbnail">
                    <img src="images/slike/teglepozadina.png" alt="" />
                  </div>
                  <figcaption>
                    <h3 style="color: #725843; font-weight: bold">Domaći proizvodi</h3>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="item">
              <a href="/items/category/mlekaijaja">
                <figure class="product-category-item">
                  <div class="thumbnail">
                    <img src="images/slike/teglepozadina.png" alt="" />
                  </div>
                  <figcaption>
                    <h3 style="color: #725843; font-weight: bold">Mleka i Jaja</h3>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="item">
              <a href="/items/category/vinairakije">
                <figure class="product-category-item">
                  <div class="thumbnail">
                    <img src="images/slike/teglepozadina.png" alt="" />
                  </div>
                  <figcaption>
                    <h3 style="color: #725843; font-weight: bold">Vina i Rakije</h3>
                  </figcaption>
                </figure>
              </a>
            </div>
            <div class="item">
              <a href="/items/category/orasasti">
                <figure class="product-category-item">
                  <div class="thumbnail">
                    <img src="images/slike/teglepozadina.png" alt="" />
                  </div>
                  <figcaption>
                    <h3 style="color: #725843; font-weight: bold">Orašasti plodovi</h3>
                  </figcaption>
                </figure>
              </a>
            </div>


          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="boxed-sm">
    <div class="container">
      <div class="heading-wrapper text-center">
        <h3 class="heading-style-2"> </h3>
      </div>
      <div class="row">
        <div class="row js-product-masonry-layout-1 product-masonry-layout-1">
          <div class="grid-sizer"></div>
            <% if(data){ %>
            <% data.slice(1, 2).forEach(function (item) {  %>
          <figure class="item">
            <div class="product product-style-2">
              <div class="img-wrapper">
                <a href="/items/<%= item._id %>">
                  <img class="img-responsive" src="images/items/<%= item.image %>" alt="product thumbnail" />
                </a>
                <div class="product-control-wrapper bottom-right">
                  <div class="wrapper-control-item">
                    <a class="js-quick-view" href="#" type="button" data-toggle="modal" data-target="#quick-view-product-<%= item._id %>">
                      <span class="lnr lnr-eye"></span>
                    </a>
                  </div>


                    <form action="/addtocart" method="post" name="form1">
                        <div class="hidden">
                            <input class="form-control" name="qty" id="qty" value="1" type="number">
                            <input class="form-control disabled" name="itemid" id="itemid" value="<%= item._id %>" type="text"  >
                            <input class="form-control disabled" name="itemname" id="itemname" value="<%= item.name %>" type="text"  >
                            <input class="form-control disabled" name="itemamount" id="itemamount" value="<%= item.amount %>" type="text"  >
                        </div>
                    <div class="wrapper-control-item item-add-cart ">
                    <button type="submit" name="Submit" href="#">
                      <span class="lnr lnr-cart"></span>
                    </button>

                  </div>
                    </form>

                </div>
                <figcaption class="desc">
                  <h3>
                    <a class="product-name" href="/items/<%= item._id %>"><%= item.name %></a>
                  </h3>
                  <span class="price">RSD <%= item.price %></span>
                </figcaption>
              </div>
            </div>
          </figure>
            <%}) } %>
            <% if(data){ %>
            <% data.slice(0, 1).forEach(function (item) {  %>
          <figure class="item item-size-2">
            <div class="product product-style-2">
              <div class="img-wrapper">
                <a href="/items/<%= item._id %>">
                  <img class="img-responsive" src="images/items/<%= item.image %>" alt="product thumbnail" />
                </a>
                <div class="product-control-wrapper bottom-right">
                  <div class="wrapper-control-item">
                    <a class="js-quick-view" href="#" type="button" data-toggle="modal" data-target="#quick-view-product-<%= item._id %>">
                      <span class="lnr lnr-eye"></span>
                    </a>
                  </div>
                    <form action="/addtocart" method="post" name="form1">
                        <div class="hidden">
                            <input class="form-control" name="qty" id="qty" value="1" type="number">
                            <input class="form-control disabled" name="itemid" id="itemid" value="<%= item._id %>" type="text"  >
                            <input class="form-control disabled" name="itemname" id="itemname" value="<%= item.name %>" type="text"  >
                            <input class="form-control disabled" name="itemamount" id="itemamount" value="<%= item.amount %>" type="text"  >
                        </div>
                        <div class="wrapper-control-item item-add-cart ">
                            <button type="submit" name="Submit" href="#">
                                <span class="lnr lnr-cart"></span>
                            </button>

                        </div>
                    </form>
                </div>
                <figcaption class="desc">
                  <h3>
                    <a class="product-name" href="/items/<%= item._id %>"><%= item.name %></a>
                  </h3>
                  <span class="price">RSD <%= item.price %></span>
                </figcaption>
              </div>
            </div>
          </figure>
            <%}) } %>
            <% if(data){ %>
            <% data.slice(2, 5).forEach(function (item) {  %>
          <figure class="item">
            <div class="product product-style-2">
              <div class="img-wrapper">
                <a href="/items/<%= item._id %>">
                  <img class="img-responsive" src="images/items/<%= item.image %>" alt="product thumbnail" />
                </a>
                <div class="product-control-wrapper bottom-right">
                  <div class="wrapper-control-item">
                    <a class="js-quick-view" href="#" type="button" data-toggle="modal" data-target="#quick-view-product-<%= item._id %>">
                      <span class="lnr lnr-eye"></span>
                    </a>
                  </div>
                    <form action="/addtocart" method="post" name="form1">
                        <div class="hidden">
                            <input class="form-control" name="qty" id="qty" value="1" type="number">
                            <input class="form-control disabled" name="itemid" id="itemid" value="<%= item._id %>" type="text"  >
                            <input class="form-control disabled" name="itemname" id="itemname" value="<%= item.name %>" type="text"  >
                            <input class="form-control disabled" name="itemamount" id="itemamount" value="<%= item.amount %>" type="text"  >
                        </div>
                        <div class="wrapper-control-item item-add-cart ">
                            <button type="submit" name="Submit" href="#">
                                <span class="lnr lnr-cart"></span>
                            </button>

                        </div>
                    </form>
                </div>
                <figcaption class="desc">
                  <h3>
                    <a class="product-name" href="/items/<%= item._id %>"><%= item.name%></a>
                  </h3>
                  <span class="price">RSD <%= item.price %></span>
                </figcaption>
              </div>
            </div>
          </figure>
            <%}) } %>

        </div>
      </div>
    </div>
  </section>


  <section class="boxed-sm">
    <div class="container">
      <div class="heading-wrapper text-center">
        <h3 class="heading">Blog</h3>
      </div>
      <div class="row blog-v reverse">
        <% if(data2) { %>
        <% data2.forEach(function(blog){ %>
        <div class="col-md-12">
          <div class="post">
            <div class="img-wrapper js-set-bg-blog-thumb">
              <a href="/blog/<%= blog._id %>">
                <img src="/images/slike/blog/<%= blog.image %>" alt="blog-thumb" />
              </a>
            </div>
            <div class="desc">
              <h3>
                <a href="/blog/<%= blog._id %>"><%= blog.title %></a>
              </h3>
              <p class="meta">
                <span class="time"><%= moment(blog.createdOn).format("Do MMM YYYY");%></span>
              </p>
              <p class="sapo"><%- blog.description %></p>
              <a class="read-more" href="/blog/<%= blog._id %>">READ MORE
                <i class="fa fa-long-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
        <% })} %>

      </div>
    </div>
  </section>

  <% include partials/footer.ejs %>
  <% if(data) { %>
  <% data.forEach(function (item) { %>
  <div class="modal fade" id="quick-view-product-<%= item._id%>" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-quickview woocommerce" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-6">
              <div class="woocommerce-product-gallery">
                <div class="main-carousel-product-quick-view">
                  <div class="item">
                    <img class="img-responsive" src="/images/slike/<%= item.image %>" alt="product thumbnail">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="summary">
                <div class="desc">
                  <div class="header-desc">
                    <h2 class="product-title"><%= item.name %></h2>
                    <p class="price"><%= item.amount %> - <%= item.price %> RSD</p>
                  </div>
                  <div class="body-desc">
                    <div class="woocommerce-product-details-short-description">
                      <p><%= item.description %></p>
                    </div>
                  </div>
                  <div class="footer-desc">
                    <form class="cart" action="/addtocart" method="post" name="form1">
                      <div class="quantity buttons-added">
                        <input style="width: 50%" step="1" min="0" max="" name="qty" value="1" title="Qty" size="4" pattern="[0-9]*" inputmode="numeric" type="number">

                      </div>
                        <div class="hidden">
                            <input class="form-control disabled" name="itemid" id="itemid" value="<%= item._id %>" type="text"  >
                            <input class="form-control disabled" name="itemname" id="itemname" value="<%= item.name %>" type="text"  >
                            <input class="form-control disabled" name="itemamount" id="itemamount" value="<%= item.amount %>" type="text"  >

                        </div>
                      <div class="group-btn-control-wrapper">
                          <button class="btn btn-brand no-radius" type="submit" name="Submit">DODAJ U KORPU</button>

                      </div>
                    </form>
                  </div>
                </div>
                <div class="product-meta" style="padding-top: 25px">
                  <p class="posted-in" style="padding-top: 45px">Kategorija:
                    <a href="/items/category/<%= item.category %>" rel="tag"><%= item.category %></a>
                  </p>
                  <p class="tagged-as">Tagovi:
                      <% if(item.tags) { %>
                      <% item.tags.forEach(function (t) {  %>
                    <a href="/items/tag/<%= t %>" rel="tag"><%= t %></a>,
                      <% })}%>
                  </p>
                </div>
                <div class="widget-social align-left">
                  <ul>
                    <li>
                      <a class="facebook" data-toggle="tooltip" title="Facebook" href="http://www.facebook.com/Upperthemes">
                        <i class="fa fa-facebook"></i>
                      </a>
                    </li>
                    <li>
                      <a class="pinterest" data-toggle="tooltip" title="Pinterest" href="http://www.pinterest.com/Upperthemes">
                        <i class="fa fa-pinterest"></i>
                      </a>
                    </li>
                    <li>
                      <a class="twitter" data-toggle="tooltip" title="Twitter" href="http://www.twitter.com/Upperthemes">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                    <li>
                      <a class="google-plus" data-toggle="tooltip" title="Google Plus" href="https://plus.google.com/Upperthemes">
                        <i class="fa fa-google-plus"></i>
                      </a>
                    </li>
                    <li>
                      <a class="instagram" data-toggle="tooltip" title="Instagram" href="https://instagram.com/Upperthemes">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% })} %>
    <% include partials/footerscripts.ejs %>

</div>
</body>
</html>
