<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <meta charset="utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>
<body class="animsition">
<div class="shop-detail-3 woocommerce" id="page">

    <% include partials/header.ejs %>
    <section class="sub-header shop-layout-1">
        <img class="rellax bg-overlay" src="/images/slike/shoppozadina.jpg" alt="">
        <div class="overlay-call-to-action"></div>
        <h3 class="heading-style-3">Proizvod</h3>
    </section>
    <section class="boxed-sm">
        <div class="container">

            <% if(data){%>
            <% data.forEach(function (item) { %>
            <div class="row product-detail">
                <div class="row product-detail-wrapper">
                    <div class="col-md-6">
                        <div class="woocommerce-product-gallery vertical">
                            <div class="main-carousel">
                                <% if(item.gallery){%>
                                <% item.gallery.forEach(function (g) {  %>
                                <div class="item">
                                    <img class="img-responsive" src="/images/items/<%= g %>" alt="product thumbnail">
                                </div>
                                <% }) } else { %>

                                <% } %>
                                <div class="item">
                                    <img class="img-responsive" src="/images/items/<%= item.image %>" alt="product thumbnail">
                                </div>
                            </div>
                            <div class="thumbnail-carousel">
                                <% if(item.gallery) { %>
                                <% item.gallery.forEach(function (g) {  %>
                                <div class="item">
                                    <img class="img-responsive" src="/images/items/<%= g %>" alt="product thumbnail">
                                </div>
                                <% })} %>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="summary">
                            <div class="desc">
                                <div class="header-desc">
                                    <h2 class="product-title"><%= item.name %></h2>
                                    <p class="price"><%= item.amount %> - <%= item.price %> RSD</p>
                                </div>
                                <div class="body-desc">
                                    <div class="woocommerce-product-details-short-description">
                                        <p><%= item.description %> </p>
                                    </div>
                                </div>
                                <div class="footer-desc">
                                    <form class="cart" action="/addtocart" method="post" name="form1">
                                        <div class="col-md-2">
                                            <div class="form-group organic-form xs-radius">
                                                <input class="form-control" name="qty" id="qty" value="1" type="number">
                                            </div>
                                            <div class="hidden">
                                                <input class="form-control disabled" name="itemid" id="itemid" value="<%= item._id %>" type="text"  >
                                                <input class="form-control disabled" name="itemname" id="itemname" value="<%= item.name %>" type="text"  >
                                                <input class="form-control disabled" name="itemamount" id="itemamount" value="<%= item.amount %>" type="text"  >

                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            <div class="group-btn-control-wrapper">
                                                <button class="btn btn-brand no-radius" type="submit" name="Submit">DODAJ U KORPU</button>

                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="product-meta">
                                <p class="posted-in">Kategorija:
                                    <a href="/items/category/<%= item.category %>" rel="tag"><%= item.category %></a>
                                </p>
                                <p class="tagged-as">Tagovi:
                                    <% if(item.tags) { %>
                                    <% item.tags.forEach(function (t) {  %>
                                    <a href="/items/tag/<%= t %>" rel="tag"><%= t %></a>,
                                    <% })}%>

                                </p>

                            </div>
                            <div class="widget-social align-left">
                                <ul>
                                    <li>
                                        <a  href="/vendor/<%= item.vendor %>">
                                           <%= item.vendor %>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="facebook" data-toggle="tooltip" title="Facebook" href="#">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="pinterest" data-toggle="tooltip" title="Pinterest" href="#">
                                            <i class="fa fa-pinterest"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="twitter" data-toggle="tooltip" title="Twitter" href="#">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="google-plus" data-toggle="tooltip" title="Google Plus" href="#">
                                            <i class="fa fa-google-plus"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="instagram" data-toggle="tooltip" title="Instagram" href="#">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="woocommerce-tabs">
                <div class="row">
                    <div class="col-md-12 woocommerce-tabs-inner">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <ul class="tabs tab-style-2" role="tablist">
                                    <li class="active" role="presentation">
                                        <a href="#Description" aria-controls="Description" role="tab" data-toggle="tab">Opis</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#Additional-Information" aria-controls="Additional-Information" role="tab" data-toggle="tab">Dodatne informacije</a>
                                    </li>
                                    <li role="presentation">
                                        <a href="#Review" aria-controls="Review" role="tab" data-toggle="tab">Ocene (<%= revs.length %>)</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="tab-content tab-content-style-2">
                            <div class="tab-pane fade in active" id="Description" role="tabpanel">
                                <p><%= item.content_text %> </p>
                            </div>
                            <div class="tab-pane fade" id="Additional-Information" role="tabpanel">
                                <table class="shop_attributes table table-striped table-bordered">
                                    <tbody>
                                    <tr>
                                        <th>Poreklo</th>
                                        <td>
                                            <p><%= item.origin %></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Jedinica mere</th>
                                        <td>
                                            <p><%= item.amount %></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Dostupno</th>
                                        <td>
                                            <p><%= item.status %></p>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="Review" role="tabpanel">

                                <ol class="comment-list">
                                    <% if(revs.length >0){ %>
                                    <% revs.forEach(function (r) { %>
                                    <li>
                                        <div class="the-comment">
                                            <div class="avatar">
                                                <img class="avatar" alt="avatar" src="/images/comment/01.png">
                                            </div>
                                            <div class="comment-box">
                                                <div class="comment-author meta">
                                                    <p class="author"><%= r.username %> <%= r.image %></p>
                                                    <p class="time"><%= r.rev %></p>
                                                </div>
                                                <div class="comment-text">
                                                    <p><%= r.comment %></p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                   <% } ) %>
                                    <% } else{ %>
                                    <p>Trenutno nema ocena</p>
                                    <% } %>
                                </ol>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% })} %>

            <div class="relate-product">
                <div class="heading-wrapper text-center">
                    <h3 class="heading">Ostali proizvodi</h3>
                </div>
                <div class="row">
                    <div class="carousel-product">
                        <% if(data2) { %>
                        <% data2.forEach(function (item) { %>
                        <div class="item">
                            <figure class="item">
                                <div class="product product-style-1">
                                    <div class="img-wrapper-list">
                                        <a href="/items/<%= item._id%>">
                                            <img class="img-responsive" src="/images/items/<%= item.image%>" alt="product thumbnail">
                                        </a>
                                    </div>
                                    <figcaption class="desc text-center">
                                        <h3>
                                            <a class="product-name" href="/items/<%= item._id%>"><%= item.name %></a>
                                        </h3>
                                        <span class="price"><%= item.price %> RSD</span>
                                    </figcaption>
                                </div>
                            </figure>
                        </div>
                        <% })} %>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<% include partials/footer.ejs %>

<script src="/js/library/jquery.min.js"></script>
<script src="/js/library/bootstrap.min.js"></script>
<script src="/js/function-check-viewport.js"></script>
<script src="/js/library/slick.min.js"></script>
<script src="/js/library/select2.full.min.js"></script>
<script src="/js/library/imagesloaded.pkgd.min.js"></script>
<script src="/js/library/jquery.mmenu.all.min.js"></script>
<script src="/js/library/rellax.min.js"></script>
<script src="/js/library/isotope.pkgd.min.js"></script>
<script src="/js/library/bootstrap-notify.min.js"></script>
<script src="/js/library/bootstrap-slider.js"></script>
<script src="/js/library/in-view.min.js"></script>
<script src="/js/library/countUp.js"></script>
<script src="/js/library/animsition.min.js"></script>
<script src="/js/global.js"></script>
<script src="/js/config-mm-menu.js"></script>
<script src="/js/config-carousel.js">


</script>
<script src="/js/config-carousel-thumbnail.js">


</script>
<script src="/js/config-carousel-product-quickview.js"></script>
<!-- Demo Only-->
<script src="/js/demo-add-to-cart.js">


</script>
</body>
</html>
