<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body class="animsition">
<div class="about" id="page">
    <% include partials/header.ejs %>
    <% include partials/subheader.ejs %>

    <section class="boxed-sm">
    <div class="container">
      <div class="row blog-v reverse">
        <div class="col-md-12">
          <div class="post">
              <% if(data){%>
              <% data.forEach(function (p) { %>
            <div class="img-wrapper js-set-bg-blog-thumb">
              <img src="images/users/<%= p.image %>" alt="blog-thumb">
            </div>

            <div class="desc">
              <h3 class="title-about"><%= p.firstname %> <%= p.lastname %></h3>
              <p class="sapo">Email: <%= p.email %></p>
              <p class="sapo">Telefon: <%= p.phone %></p>
              <p class="sapo">Adresa: <%= p.address %></p>
              <p class="sapo">Grad: <%= p.city %></p>
              <p class="sapo">Biografija: <%= p.bio %></p>
              <p class="sapo">Rola: <%= p.role %></p>
              <div class="proceed-to-checkout">
                <a class="btn btn-brand pill" href="/profile/<%= p._id %>">EDIT PROFILE</a>
              </div>
            </div>
            <% }) } %>
          </div>
        </div>
        <div class="col-md-12">

            <div class="desc" style="padding-top: 50px;">
              <h3 class="title-about">Porudžbine: </h3>
              <table class="shop_attributes table table-striped table-bordered">
                <tbody>
                <tr style='text-align:left; background-color:#CCC'>
                  <th>ID</th>
                  <th>Proizvodi </th>
                  <th>Ukupna cena</th>
                  <th>Status</th>
                  <th>Akcije</th>
                </tr>

                <% if(orders){ %>
                <% orders.forEach(function (o) { %>
                <tr>
                  <td><%= o._id %></td>
                  <td>
                  <% o.items.forEach(function (v) { %>
                  <p><%= v.name %> // <%= v.price %> RSD x <%= v.qty %></p>
                  <% }) %>
                   </td>
                  <td>
                    <p><%= o.orderprice %> RSD</p>
                  </td>
                  <td><%= o.status %></td>

                  <td>
                    <% if (o.status === "sent") {%>
                    <div style="float:left">
                      <a href="/review/<%= o._id %>">Review</a>
                    </div>
                    <% } %>
                  </td>
                </tr>
                <% })} %>
                </tbody>
              </table>

            </div>
        </div>
      </div>
    </div>
  </section>
</div>

<% include partials/footer.ejs %>
<% include partials/footerscripts.ejs %>
</body>
</html>
