<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body class="animsition">
<div class="about" id="page">
    <% include partials/header.ejs %>
    <% include partials/subheader.ejs %>
    <section class="boxed-sm">
        <div class="container">
            <div class="row blog-v reverse">
                <div class="col-md-12">
                    <div class="post">
                        <% if(data){%>
                        <% data.forEach(function (p) { %>
                        <div class="img-wrapper js-set-bg-blog-thumb">
                            <img src="/images/users/<%= p.image %>" alt="blog-thumb">
                        </div>


                        <div class="desc">
                            <form ref='uploadForm'
                                  id='uploadForm'
                                  action='/profile/edit'
                                  method='post'
                                  encType="multipart/form-data">
                                <div class="col-md-6">
                                    <label>Ime: </label>
                                    <div class="form-group organic-form xs-radius">
                                        <input class="form-control" name="firstname" id="firstname" value="<%= p.firstname %>" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Prezime: </label>
                                    <div class="form-group organic-form xs-radius">
                                        <input class="form-control" name="lastname" id="lastname"  value="<%= p.lastname %>" type="text">
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <label>Email: </label>
                                    <div class="form-group organic-form xs-radius">
                                        <input class="form-control"  name="email" id="email" value="<%= p.email %>" type="text" >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>Telefon: </label>
                                    <div class="form-group organic-form xs-radius">
                                        <input class="form-control"  name="phone" id="phone" value="<%= p.phone %>" type="text" >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>Adresa: </label>
                                    <div class="form-group organic-form xs-radius">
                                        <input class="form-control"  name="address" id="address" value="<%= p.address %>"  type="text" >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>Grad: </label>
                                    <div class="form-group organic-form xs-radius">
                                        <input class="form-control"  name="city" id="city" value="<%= p.city %>"  type="text" >
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <label>Biografija: </label>
                                    <div class="form-group organic-form xs-radius">
                                        <input class="form-control"  name="bio" id="bio" value="<%= p.bio %>"  type="text" >
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Image: </label>
                                    <div class="form-group organic-form xs-radius">
                                        <input type="text" name="image" id="image"  value="<%= p.image %>" >
                                    </div>
                                    <div class="form-group organic-form xs-radius">
                                        <input type="file" name="img" id="img">
                                    </div>
                                </div>


                                <div class="col-md-12">
                                    <div class="form-group organic-form xs-radius">
                                        <button class="btn btn-brand pill" type="submit" name="Submit">EDIT PROFILE</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <% }) } %>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>

<% include partials/footer.ejs %>
<% include partials/footerscripts.ejs %>

<script >
    $(document).ready(function() {
        $("#input-5").fileinput({showCaption: false});

        $("#input-6").fileinput({
            showUpload: false,
            maxFileCount: 10,
            mainClass: "input-group-lg",
            showCaption: true
        });

        $("#input-8").fileinput({
            mainClass: "input-group-md",
            showUpload: true,
            previewFileType: "image",
            browseClass: "btn btn-success",
            browseLabel: "Pick Image",
            browseIcon: "<i class=\"icon-picture\"></i> ",
            removeClass: "btn btn-danger",
            removeLabel: "Delete",
            removeIcon: "<i class=\"icon-trash\"></i> ",
            uploadClass: "btn btn-info",
            uploadLabel: "Upload",
            uploadIcon: "<i class=\"icon-upload\"></i> "
        });

        $("#input-9").fileinput({
            previewFileType: "text",
            allowedFileExtensions: ["txt", "md", "ini", "text"],
            previewClass: "bg-warning",
            browseClass: "btn btn-primary",
            removeClass: "btn btn-secondary",
            uploadClass: "btn btn-secondary",
        });

        $("#input-10").fileinput({
            showUpload: false,
            layoutTemplates: {
                main1: "{preview}\n" +
                "<div class=\'input-group {class}\'>\n" +
                "   <div class=\'input-group-append\'>\n" +
                "       {browse}\n" +
                "       {upload}\n" +
                "       {remove}\n" +
                "   </div>\n" +
                "   {caption}\n" +
                "</div>"
            }
        });

        $("#input-11").fileinput({
            maxFileCount: 10,
            allowedFileTypes: ["image", "video"]
        });

        $("#input-12").fileinput({
            showPreview: false,
            allowedFileExtensions: ["zip", "rar", "gz", "tgz"],
            elErrorContainer: "#errorBlock"
        });
    });

</script>

</body>
</html>
