<!DOCTYPE html>
<html>
<head>
    <% include partials/head.ejs %>
</head>
<body class="animsition">
<div class="about" id="page">
    <% include partials/header.ejs %>
    <% include partials/subheader.ejs %>

    <section class="boxed-sm">
        <div class="container">
            <div class="row blog-v reverse">
                <div class="col-md-12">
                    <div class="desc" style="padding-top: 50px;">
                        <h3 class="title-about">ID porudžbine: <%= data[0]._id %></h3>
                        <form action="/review/<%= data[0]._id %>" method="post">
                        <table class="shop_attributes table table-striped table-bordered">
                            <tbody>
                            <tr style='text-align:left; background-color:#CCC'>
                                <th>Predmeti</th>
                                <th>Cena</th>
                                <th>Ocena</th>
                                <th>Komentar</th>
                            </tr>

                            <% if(data){ %>
                            <% data.forEach(function (o) { %>
                            <% o.items.forEach(function (v) { %>
                            <tr>
                                <td>
                                    <%= v.name %>
                                </td>
                                <td>
                                    <p><%= o.orderprice %> RSD</p>
                                </td>
                                <td>
                                    <div class="hidden">
                                        <input id="itemId" name="itemId" value="<%= v.id %>">
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group Orchid-form xs-radius">
                                            <select  class="form-control" name="rev" id="rev">
                                                <option value="pozitivna">Pozitivna</option>
                                                <option value="neutralna">Neutralna</option>
                                                <option value="negativna">Negativna</option>
                                            </select>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-12">
                                        <div class="form-group Orchid-form xs-radius">
                                            <textarea class="form-control" type="text" id='comment' name="comment" rows="1" placeholder="Komentar..."></textarea>
                                        </div>
                                    </div>
                                </td>


                            </tr>
                            <% }) %>
                            <% })} %>
                            </tbody>
                        </table>
                        <div class="col-md-12">
                            <div class="form-group">
                                <button class="btn btn-brand pill" type="submit">Oceni</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<% include partials/footer.ejs %>
<% include partials/footerscripts.ejs %>
</body>
</html>
